table{
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
}
thead tr {
    border-style: solid;
}

tbody tr:nth-child(2n){
    background-color: #E9ECEF;
}
tbody tr:nth-child(2n+1){
    background-color: white;
}

img{
    width: 190px;
    height: 100px;
}

h1{
    color: gray;
    text-align: center;
}